<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Log burgers that you would like to eat" />
    <meta name="keywords" content="Burger, Logger, Express, Handlebars, Food, Yum, List" />
    <meta name="author" content="Ikemous" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
    
    <script src="https://code.jquery.com/jquery.js"></script>
    
    <!-- End Meta Data -->
    <title>Burger Logger</title>
</head>
<body>
    <main class="container"> 
        {{{body}}}
    </main>
</body>
</html>