<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Log burgers that you would like to eat" />
    <meta name="keywords" content="Burger, Logger, Express, Handlebars, Food, Yum, List" />
    <meta name="author" content="Ikemous" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- End Meta Data -->
    
    <!-- Links For page Stylings -->
    <link rel="icon" href="/assets/img/burger.jpg">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet" />
    <!-- End Links To Page Stylings -->

    <!-- Scripts Used By The Page -->  
    <script src="https://code.jquery.com/jquery.js"></script>
    <script defer src="/assets/js/script.js"></script>
    <!-- End Scripts Used By The Page -->
    <title>Burger Logger</title>
</head>
<body>
    <!-- Container For Content -->
    <main class="container">
        <!-- Handlebar body Section -->
        {{{body}}}
        <!-- End Handlebar body Section -->
    </main>
    <!-- End Container For Content -->
</body>
</html>