
<section class="row error">
    <h1 class="col-sm-12 text-center">Page Not Found</h1> 
</section>
<section class="row">
        <img class="col-sm-12 img-thumbnail" src="/assets/img/errorBurger.jpg" alt="Image of burger provided by Vernon Adams https://www.freepik.com/free-vector/yellow-background-with-appetizing-burger-flat-design_1140580.htm#page=1&query=burger&position=6"/>
</section>
<section class="row">
    <p class="col-sm-12 text-center">Image Designed by <a href="https://www.freepik.com/free-vector/cute-kawaii-burger-label-food-design-illustration_5769167.htm#page=1&query=burger%20cartoon&position=8" rel="noopener noreferrer" target="_blank">gstudioimagen</a></p>
</section>
<section class="row">
    <h2 class="col-sm-12 text-center">Please Go <a href="/">Back</a></h2>
</section>