<h1>BURGER CHOMPER</h1>

<ul>
    {{#each burgers}}
        {{>burgers/burger}}
    {{/each}}
</ul>

<form method="POST">
    <textarea id="burger_name"></textarea>
    <button>ENTER BURGER</button>
</form>