body{
    background-color: #feda48!important;
    color: white!important;
}

h1{
    font-family: 'Cookie', cursive !important;
    font-weight: bolder!important;
}

h2{
    font-family: 'Cookie', cursive !important;
    margin-bottom: 0!important;
    margin-top: 10px!important;
}

button{
    background-color: green;
    border-radius: inherit!important;
}

.burgerItem{
    color: black;
}

.img-thumbnail{
    max-height: 300px;
    max-width: 300px !important;
    background-color: unset!important;
    border: unset!important;
    margin-left: auto;
    margin-right: auto;
}

.devourBtn, .deleteBtn{
    background-color: #fffb66;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

.deleteBtn{
    background-color: #d30102;
}

.burgerItem{
    min-height: 60px;
    margin: 2px;
}

.burgerButton{
    margin: 5px;
    padding: 5px
}

.burgerText{
    resize: none;
    margin: 5px;
}

.error{
    margin-top: 150px;
}