<li class="list-group-item burgerItem">
    <p>{{burger_name}}</p>
    {{#if devoured}}
        <button class="deleteBtn" data-id={{id}}>DELETE!!!</button>
    {{else}}
        <button class="devourBtn" data-id={{id}}>DEVOUR!!!</button>
    {{/if}}
</li>
